@{
  Layout = "_Layout";
}
<div class = "container well">
    <h1>To Do List</h1>
    <div class="row">
        <h2>Your list has been cleared!</h2>
        <!-- <p><a href="/items">Back to list.</a></p> -->
    </div>
      <div class="row">
        <form action="/items" method="get">
          <button type="submit" name="button">Back to List</button>
        </form>
      </div>
  </div>
</div>
