@{
  Layout = "_Layout";
}
    <div class="container well">
      <h1>To Do List</h1>
      <!-- <h5>Right now you can't see Items.</h5> -->
        <form class="form" action="/add" method="post">
          <div class="form-group row">
            <div class="col-lg-3">
              <input type="text" class="form-control" name="new-item" id="new-item" placeholder="Add an item">
            </div>
            <div class="col-lg-9">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2">
              <button type="submit" class="btn btn-success" name="button">SUBMIT</button>
            </div>
            <div class="col-lg-10">
            </div>
          </div>
        </form>
      <div class="row">
        <div class="col-xsl-11">
          @if(@Model.Count > 0)
          {
            @foreach (var item in Model)
            {
                <h4>@item.GetDescription()</h4>
            }
          }
        </div>
          <div class="col-xl-1">
        </div>
      </div>
